extends layout

block content
  h1= title
  form(action="/test/fsupload", method="post" ,enctype="multipart/form-data")
    input(type="file", name="file", id="file" multiple="multiple")
    input(type="text", name="filepath", id="filepath")
    input(type="text", name="extname", id="extname")
    input(type="submit", value="提交")
