body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #001b51;
}

a {
  color: #00b7ff;
}

input {
  box-sizing: border-box;
  outline-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  padding: 6px 12px;
  margin: 5px 0;
  font-size: 14px;
  font-family: 'Microsoft soft';
}

table input,
textarea {
  box-sizing: border-box;
  outline-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  padding: 6px 12px;
  margin: 5px 0;
  font-size: 14px;
  font-family: 'Microsoft soft';
}

table span {
  display: inline-block;
  width: 34%;
  margin: 4px 8px;
}

table span input {
  width: 20px;
  padding: 0;
  margin: 0;
}

p {
  margin: 16px 8px 0 0;
}

input:focus {
  border: 1px solid rgb(0, 106, 249);
}

table {
  border-collapse: collapse;
  text-align: left;
  word-wrap: break-word;
}

th {
  border-bottom: 1px solid#001b51;
}

tr,
th,
td {
  height: 48px;
  padding-right: 20px;
  max-width: 200px;
}

td img {
  height: 100px;
}
